<i class="fas fa-plus"></i>
<%= link_to "New Article", new_article_path %>

<h3><%= @article.title %></h3>
<i class="far fa-edit"></i>
<span><%= link_to "Edit", edit_article_path %></span>

<i class="far fa-trash-alt"></i>
<span><%= link_to "Delete", article_path,
method: :delete,
data: { confirm: "Are you sure?" } %></span>

<p><%= @article.content %></p>

<i class="fas fa-redo"></i>
<span><%= link_to 'Back to list', articles_path %></span>